<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949522489241-svvih41i8lv2ilsk6a5nfl6pms6a5hde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949522489241-svvih41i8lv2ilsk6a5nfl6pms6a5hde</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949522489241-9ku2red3pdq8ufaeml342dbpdr62d0h6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcwZA9cN99SDMjwJLf8Ds7SygZNJShQv8</string>
	<key>GCM_SENDER_ID</key>
	<string>949522489241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FireBaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-3217c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-3217c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949522489241:ios:f335ea7a8fb382ea273d08</string>
</dict>
</plist>